body{
    background-color:darkseagreen;
    text-align:center;
    font-weight: bold;
}
[tooltip="Aman"] {
    position:relative;
    display:block;
    padding: 50px;
    cursor:pointer;
}
[tooltip-position="top"]:hover::after{
    content:"Aman kr";
    width:80px;
    background-color: black;
    color:white;
    position: absolute;
    top:25%;
    left:50%;
    margin-left:-40px;
    border-radius:5px;
}
[tooltip-position="top"]:hover::before{
    content:" ";
    position:absolute;
    top:40%;
    left:50%;
    margin-left: -5px;
    border-width:5px;
    border-style:solid;
    border-color:black transparent transparent transparent;
}

[tooltip-position="right"]:hover::after{
    content:"Aman kr";
    width:80px;
    background-color: black;
    position: absolute;
    color:white;
    top:50px;
    left:50%;
    margin-left:25px;
    border-radius:5px;
}
[tooltip-position="right"]:hover::before{
    content:" ";
    position:absolute;
    top: 50%;
    left:50%;
    margin-left:15px;
    margin-top: -5px;
    border-width:5px;
    border-style:solid;
    border-color:transparent black transparent transparent;

}

[tooltip-position="bottom"]:hover::after{
    content:"Aman kr";
    width:80px;
    background-color: black;
    text-align: center;
    position: absolute;
    color:white;
    top:50%;
    left:50%;
    margin-left: -40px;
    margin-top:10px;
    border-radius:5px;
    
}
[tooltip-position="bottom"]:hover::before{
    content:"";
    position:absolute;
    bottom:100%;
    left:50%;
    margin-left:-5px;
    margin-bottom: -70px;
    border-width:5px;
    border-style:solid;
    border-color:transparent transparent black transparent;
}
[tooltip-position="left"]:hover::before{
    content:"Aman kr";
    width:80px;
    background-color: black;
    text-align: center;
    position: absolute;
    color:white;
    top:50%;
    left:50%;
    border-radius:5px;
    margin-left:-100px;
    margin-top:-10px;
    
}
[tooltip-position="left"]:hover::after{
content:"";
position:absolute;
top:100%;
left:50%;
margin-left:-20px;
margin-top: -65px;
border-width:5px;
border-style:solid;
border-color:transparent transparent transparent black;
}
